{% extends "base.html" %}

{% set title = "Gliders" %}

{% block content %}
<h2>XContest 2023</h2>

<div class="w3-row">

    
    <div class="w3-container w3-twothird">
        <h3>Classified</h3>
        <form action="/gliders" method="get" class="w3-container" autocomplete="off">
            <input type="submit" value="Filter table" class="w3-button"  />
        <table class="w3-table w3-bordered">
            <tr>
                <th>Glider</th>
                <th>Class</th>
                <th>Count</th>
                <th colspan="2">Log-Normal params</th>
                <th colspan="3">P( xc &gt;= X )</th>
            </tr>
            <tr>
                <th><input id="glider" name="glider" type="text" value="{{filter.glider}}" /></th>
                <th><input id="class" name="class" type="text" value="{{filter.class}}" /></th>
                <th></th>
                <th>mu</th>
                <th>sigma</th>
                <th>X=50</th>
                <th>X=100</th>
                <th>X=200</th>
            </tr>
            {% for glider in gliders %}
            <tr>
                <td><a href="/gliders/{{ glider.glider_norm.lower().replace(' ','-') }}">{{ glider.glider_norm }}</a></td>
                <td>{{ glider.class }}</td>
                <td>{{ glider.count }}</td>
                <td>{{  '{0:0.4f}'.format(glider.mu) }}</td>
                <td>{{  '{0:0.4f}'.format(glider.sigma) }}</td>
                <td>{{ (glider.p50*100)|round|int }} %</td>
                <td>{{ (glider.p100*100)|round|int }} %</td>
                <td>{{ (glider.p200*100)|round|int }} %</td>
            </tr>    
            {% endfor %}
        </table>
        </form>
    </div>


    <div class="w3-container w3-third">
        <h3>Top unclassified</h3>
        <table class="w3-table w3-bordered">
            <tr>
                <th>Glider</th>
                <th>Count</th>
            </tr>
            {% for glider in unclass_gliders %}
            <tr>
                <td>{{ glider.glider }}</td>
                <td>{{ glider.flight_count }}</td>
            </tr>    
            {% endfor %}
        </table>
    </div>

</div>

{% endblock %}