{% extends "base.html" %}

{% set title = "Gliders" %}

{% block content %}
<h2>XContest 2025</h2>

<div class="w3-row">
    <div class="w3-container w3-twothird">
        <details>
            <summary>
            Notes for the table.
            </summary>
            Table of all gliders that have at least 50 flights.
            Statistics for gliders with less than 200 flights are less reliable.
            Unlcassified (no normalized glider name) are not included.
        </details>
        <hr />
        <form action="/gliders" method="get" class="w3-container" autocomplete="off">
            <button type="submit" class="btn btn-success" >
             <i class="fa fa-filter"></i> Filter table
            </button>
        <br />
        <input type="checkbox" name="export" id ="export" />
        <label for="export">Export to excel</label>

        <table class="w3-table w3-bordered">
            <tr>
                <th></th>
                <th>Glider name</th>
                <th>Class</th>
                <th>Count</th>
                <!-- <th colspan="3">Log-Normal params</th> -->
                <th>Fit Quality</th>
                <th colspan="3">P( xc &gt;= X )</th>
            </tr>
            <tr>
                <th></th>
                <th><input id="glider" name="glider" type="text" value="{{filter.glider}}" /></th>
                <th><input id="class" name="class" type="text" value="{{filter.class}}" size="2" /></th>
                <th></th>
                <!-- <th>mu</th>
                <th>sigma</th>
                <th>log-theta</th> -->
                <th></th>
                <th>X=50</th>
                <th>X=100</th>
                <th>X=200</th>
            </tr>
            {% for glider in gliders %}
                <!-- 1.96 * sqrt( 0.8^2 / 200) approx 0.11 -->
                {% if glider.confidence <= 0.11 %}
                    <tr class="">
                {% elif glider.confidence <= 0.165 %} 
                        <tr class="w3-sand">        
                <!-- 1.96 * sqrt( 0.8^2 / 50) approx 0.22 -->                
                {% elif glider.confidence <= 0.22 %} 
                    <tr class="w3-pale-yellow">
                {% else %} 
                    <tr class="w3-pale-red">
                {% endif %}
                <td>
                    {% if glider.glider_norm.lower().replace(' ','-') in filter.compare %}
                        <input type="checkbox" name="{{glider.glider_norm.lower().replace(' ','-')}}" checked />
                    {% else %}
                        <input type="checkbox" name="{{glider.glider_norm.lower().replace(' ','-')}}" />
                    {% endif %}
                </td>
                <td><a href="/gliders/{{ glider.glider_norm.lower().replace(' ','-') }}">{{ glider.glider_norm }}</a></td>
                <td class="w3-center"  >{{ glider.class }}</td>
                <td class="w3-right-align">{{ glider.count }}</td>
                <!-- <td>{{  '{0:0.4f}'.format(glider.mu) }}</td> -->
                <!-- <td>{{  '{0:0.4f}'.format(glider.sigma) }}</td> -->
                <!-- <td class="w3-right-align">{{  '{0:0.4f}'.format(glider.mu + 0.5*glider.sigma**2) }} &plusmn; {{  '{0:0.4f}'.format(glider.confidence ) }} </td> -->
                <!-- <td class="w3-center" style="margin:0px">
                    {% set barwidth = 120 %}
                    {% set barheight = 20 %}
                    {% set tmin = -2.0 %}
                    {% set tmax = 0.4 %}
                    <svg width="{{barwidth}}" height="{{barheight}}"  style="stroke:grey;stroke-width:0.5;fill:none;" >
                        <rect x="0" y="0" width="{{barwidth}}" height="{{barheight-2}}"></rect>-->
                        <!--
                            x = a * logtheta + b
                            --------------------
                            logtheta_min = tmin => x_min =  0 = tmin a + b => !b =-tmin a = -tmin/(tmax-tmin) * barwidth
                            logtheta_max = tmax => x_max = barwidth =  tmax a + b = (tmax-tmin) a => !a = barwidth/(tmax-tmin)
                        -->
                  <!--      <rect x="{{(glider.mu + 0.5*glider.sigma**2 - glider.confidence)*(barwidth/(tmax-tmin)) + (-tmin*barwidth/(tmax-tmin)) }}" 
                            y="0" 
                            width="{{2*glider.confidence*(barwidth/(tmax-tmin))}}" 
                            height="{{barheight-2}}"
                            style="fill:blue;fill-opacity:0.25;" >
                            <title>{{  '{0:0.4f}'.format(glider.mu + 0.5*glider.sigma**2) }} &plusmn; {{  '{0:0.4f}'.format(glider.confidence ) }}</title>
                        </rect>
                    </svg>
                </td> -->
                <td>
                    <!-- 1.96 * sqrt( 0.8^2 / 200) approx 0.11 -->
                    {% if glider.confidence <= 0.11 %}
                        good
                    {% elif glider.confidence <= 0.165 %} 
                        ok
                    <!-- 1.96 * sqrt( 0.8^2 / 50) approx 0.22 -->                
                    {% elif glider.confidence <= 0.22 %} 
                        low
                    {% else %} 
                        bad
                    {% endif %}
                </td>
                <td>{{ (glider.p50*100)|round|int }} %</td>
                <td>{{ (glider.p100*100)|round|int }} %</td>
                <td>{{ (glider.p200*100)|round|int }} %</td>
            </tr>    
            {% endfor %}
        </table>
        </form>
    </div>


    <div class="w3-container w3-third">
        {% if comparison %}
         <img src="{{comparison}}"/>
        {% endif %}

        <h3>Top unclassified</h3>
        <form action="/gliders" method="get" class="w3-container" autocomplete="off">
            <input type="text" id="unclass" name="unclass" value="{{filter.unclass}}" />
            <button type="submit" class="btn btn-success" >
             <i class="fa fa-filter"></i> Filter unclassified
            </button>
        </form>
        <table class="w3-table w3-bordered w3-small">
            <tr>
                <th>Glider name</th>
                <th>Count</th>
            </tr>
            {% for glider in unclass_gliders %}
            <tr>
                <td>{{ glider.glider }}</td>
                <td>{{ glider.flight_count }}</td>
            </tr>    
            {% endfor %}
        </table>
    </div>

</div>

{% endblock %}