{% extends "base.html" %}


{% set title = "Pilots" %}


{% block content %}
<h2>XContest 2023</h2>

<form action="/pilots" method="post" class="w3-container" autocomplete="off">
    <input type="submit" value="Load more pilots" class="w3-button"  />
</form>
{% if allow_delete %}
<form action="/pilots/delete" method="post" class="w3-container" autocomplete="off">
    <input type="submit" value="Delete all pilots" class="w3-button"  />
</form>
{% endif %}


<table class="w3-table w3-bordered">
    <tr>
        <th>Rank</th>
        <th>ID</th>
        <th>Name</th>
    </tr>
    {% for pilot in pilots %}
    <tr>
        <td>{{ pilot.rank }}</td>
        <td>{{ pilot.pilot_id }}</td>
        <td>{{ pilot.username }}</td>
    </tr>    
    {% endfor %}
</table>

{% endblock %}
